force-app/main/default/flows/aha_Contractor_Incident_Populate_from_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LLM</name>
        <label>LLM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>aha_Contractor_Incident_Email</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Save_Changes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:InputEmail</name>
            <value>
                <elementReference>$Record.aha_Email_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>aha_Contractor_Incident_Email</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Q_Id_Exists</name>
        <label>Q Id Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_ID.QueueID_output</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Owner_change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Uses the LLM to  enrich  the Contractor Incident record created by the Apex Custom Email Handler.</description>
    <environments>Default</environments>
    <formulas>
        <description>converts date time t=string to field</description>
        <name>f_String_To_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!LLM.structuredResponse.incidentDateTimeString})</expression>
    </formulas>
    <interviewLabel>aha Contractor Incident - Populate from Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>aha Contractor Incident - Populate from Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Save_Changes</name>
        <label>Save Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Activity_History__c</field>
            <value>
                <elementReference>LLM.structuredResponse.activityHistory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affected_Address__c</field>
            <value>
                <elementReference>LLM.structuredResponse.affectedAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Awaabs_Law__c</field>
            <value>
                <elementReference>LLM.structuredResponse.awaabsLaw</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Escalated__c</field>
            <value>
                <elementReference>LLM.structuredResponse.caseEscalated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reference__c</field>
            <value>
                <elementReference>LLM.structuredResponse.caseReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimant_Name__c</field>
            <value>
                <elementReference>LLM.structuredResponse.claimantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_Group__c</field>
            <value>
                <elementReference>LLM.structuredResponse.contractorGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>LLM.structuredResponse.customerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Phone__c</field>
            <value>
                <elementReference>LLM.structuredResponse.customerPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customers_Affected__c</field>
            <value>
                <elementReference>LLM.structuredResponse.customersAffected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decant_Address__c</field>
            <value>
                <elementReference>LLM.structuredResponse.decantAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decant__c</field>
            <value>
                <elementReference>LLM.structuredResponse.decant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>LLM.structuredResponse.businesUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Notes__c</field>
            <value>
                <elementReference>LLM.structuredResponse.escalationNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fault__c</field>
            <value>
                <elementReference>LLM.structuredResponse.fault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date__c</field>
            <value>
                <elementReference>f_String_To_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date_as_Text__c</field>
            <value>
                <elementReference>LLM.structuredResponse.incidentDateTimeString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Address_text__c</field>
            <value>
                <elementReference>LLM.structuredResponse.jobAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Description__c</field>
            <value>
                <elementReference>LLM.structuredResponse.jobDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pets_Decanted__c</field>
            <value>
                <elementReference>LLM.structuredResponse.petsDecanted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>LLM.structuredResponse.policyNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Scheme__c</field>
            <value>
                <elementReference>LLM.structuredResponse.policyScheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Escalation__c</field>
            <value>
                <elementReference>LLM.structuredResponse.reasonForEscalation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>LLM.structuredResponse.region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Problem__c</field>
            <value>
                <elementReference>LLM.structuredResponse.reportedProblem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident__c</field>
            <value>
                <elementReference>LLM.structuredResponse.resident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Arranged__c</field>
            <value>
                <elementReference>LLM.structuredResponse.transportArranged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aha_AI_Enrichment_Status__c</field>
            <value>
                <stringValue>Enriched</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Owner_change</name>
        <label>Save Owner change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_ID.QueueID_output</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aha_Sourced_from_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>aha_AI_Enrichment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>aha_Contractor_Incident__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>LLM</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Queue_ID</name>
        <label>SET MY QUEUE NAME</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Q_Id_Exists</targetReference>
        </connector>
        <flowName>aha_util_Get_Queue_Id</flowName>
        <inputAssignments>
            <name>Queue_DeveloperName_input</name>
            <value>
                <stringValue>aha_Contractor_Incidents</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
