force-app/main/default/flows/aha_Contractor_Incident_Panel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LLM</name>
        <label>LLM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>aha_Contractor_Incident_Email</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>MapResponse</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:InputEmail</name>
            <value>
                <elementReference>Input_Incident_Report</elementReference>
            </value>
        </inputParameters>
        <nameSegment>aha_Contractor_Incident_Email</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>MapResponse</name>
        <label>Map Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contractor_incident.Awaabs_Law__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.awaabsLaw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Transport_Arranged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.transportArranged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Customers_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.customersAffected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Affected_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.affectedAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.caseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Claimant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.claimantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Contractor_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.contractorGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.customerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Customer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.customerPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Decant_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.decantAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.businesUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Escalation_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.escalationNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Fault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.fault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Incident_Date_as_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.incidentDateTimeString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Job_Address_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.jobAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Job_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.jobDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.jobStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.policyNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Reason_For_Escalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.reasonForEscalation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Reported_Problem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.reportedProblem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.resident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.aha_AI_Enrichment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enriched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractor_incident.Activity_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LLM.structuredResponse.activityHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Designed to run on a Contractor Incident record. This flow will parse the free text input and fill out the fields.</description>
    <environments>Default</environments>
    <interviewLabel>aha Contractor Incident Panel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>aha Contractor Incident Panel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>contractor_incident</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Error</name>
        <label>Screen_Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(21, 21, 21); font-size: 16px;&quot;&gt;Oh noes, an error occurred:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-background-color</propertyName>
            <propertyValue>
                <stringValue>#FFF0F0</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-border-color</propertyName>
            <propertyValue>
                <stringValue>#FFB9B9</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
    </screens>
    <screens>
        <name>Screen_Splash</name>
        <label>Screen Splash</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LLM</targetReference>
        </connector>
        <fields>
            <name>chk_showInputBox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Paste Contractor Incident</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Incident_Report</name>
            <fieldText>Paste report here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chk_showInputBox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;Paste the Contractor Incident text into the  box below and click Run.&lt;/p&gt;&lt;p&gt;The data will be extracted and the record filled out.  You will need to refresh the record to see the changes&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Update record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Splash</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>A contractor incident record</description>
        <name>contractor_incident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>aha_Contractor_Incident__c</objectType>
    </variables>
    <variables>
        <name>txtLlmResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPromptVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5</stringValue>
        </value>
    </variables>
</Flow>
